body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
}

.container {
    margin: 20px;
}

input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

li {
    background: #1e293b;
    margin: 10px auto;
    padding: 10px;
    width: 300px;
    list-style: none;
    cursor: pointer;
}
